
{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"
<!DOCTYPE  html>
<html>
  <head>
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  


    
  </head>
  

  <!-- <body style="background-image:  url('https://www.freepnglogos.com/uploads/free-vector-ford-logo-25.png')";background-repeat:'no-repeat';> -->
  <body style="background-color:white;">
    <center>
      <img class ="img-fluid" src="https://www.freepnglogos.com/uploads/free-vector-ford-logo-25.png" alt="icon"   >
    </center>
<table border="1" class="table" align="center">
  <thead>
    <tr style="text-align: right;">
      
      <th>name</th>
      <th>cust_ID</th>
      <th>loan_ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>&lt;bound method _Element.values of &lt;Element name...</td>
      <td>input</td>
      <td>name</td>
    </tr>
    <tr>
      
      <td>&lt;bound method _Element.values of &lt;Element name...</td>
      <td>in_Loan_ID</td>
      <td>name</td>
    </tr>
    <tr>
      
      <td>&lt;bound method _Element.values of &lt;Element name...</td>
      <td>in_Cust_ID</td>
      <td>name</td>
    </tr>
    <tr>
      
      <td>&lt;bound method _Element.values of &lt;Element name...</td>
      <td>Current User</td>
      <td>name</td>
    </tr>
    <tr>
     
      <td>&lt;bound method _Element.values of &lt;Element name...</td>
      <td>Process Title</td>
      <td>name</td>
    </tr>
  </tbody>
</table>
</html>
{% endblock %}